@import "./variables";
@import "./table";
@import "./header";
@import "./search";

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dropdown-item:nth-child(even) {
	background: #f0f0f0;
}

.dropdown-item:hover {
	background: $background;
}
